.portfolio {
	background-image: url('./portfolio.jpg');
	background-size: cover;
	height: auto;
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr; */
	grid-template-areas: 'one one one' 'two two two' 'three three three';
	color: white;
}

.project-1 {
	grid-area: one;
	padding: 50px;
	display: flex;
	flex-direction: row;
}

.project-2 {
	grid-area: two;
	padding: 50px;
	display: flex;
	flex-direction: row;
}

.project-3 {
	grid-area: three;
	padding: 50px;
	display: flex;
	flex-direction: row;
}

.portfolio h3 {
	padding: 10px;
	margin: auto;
	text-align: center;
	font-size: 16px;
}

.portfolio p {
	padding: 5px;
	width: 380px;
}

img {
	width: 100%;
	float: right;
}

.portfolio a {
	color: white;
	text-decoration-line: underline;
}

.end {
	/* padding: 5px; */
	margin: 8px;
	border-top: 1px solid orange;
}
