.about-me {
	background-image: url('./about.jpg');
	background-size: cover;
	color: white;
	display: grid;
	height: 85vh;
	grid-template-rows: 10vh 1fr;
	grid-template-columns: 75% 1fr;
	grid-template-areas:
		'h2 .'
		'first . '
		'second . '
		'third . ';
}

.about-me ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 50px;
	overflow: auto;
	float: left;
	grid-area: first;
	display: flex;
	flex-direction: column;
}

.about-me ul li {
	float: left;
	text-align: left;
}

h2 {
	grid-area: h2;
	margin: auto auto 10px auto;
}

.about-me p {
	padding-top: 8px;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.about-me {
		padding-top: 5px;
		grid-template-rows: none;
		grid-template-columns: none;
	}

	h2 {
		margin: 15px auto 8px auto;
	}

	.about-me ul {
		padding: 0 25px;
	}
}

@media screen and (max-width: 414px) {
	.about-me {
		padding-top: 5px;
		grid-template-rows: 10vh 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			'h2'
			'first'
			'second'
			'third';
	}

	.about-me h2 {
		margin: auto;
		/* height: 20px; */
	}

	.about-me h3 {
		padding-top: 10px;
		width: auto;
		margin: 0 auto;
	}

	.about-me ul {
		padding: 10px;
		border-top: gray 0.5px solid;
		margin: 0 15px;
		background: rgba(225, 225, 255, 0.1);
		overflow: auto;
	}

	.about-me ul li {
		padding: 8px;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
}
