.about-me {
	background-image: url('./about.jpg');
	background-size: cover;
	color: white;
	display: grid;
	height: 650px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'. h2 .'
		'ul . .'
		'second . .'
		'third . .';
}

.about-me ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
}

.about-me ul li {
	float: left;
}

h2 {
	grid-area: h2;
	justify-self: center;
}

.first {
	grid-area: first;
}

.second {
	grid-area: second;
}

.third {
	grid-area: third;
}
