.site-border {
	color: rgb(2, 0, 45);
}

.site-body {
	/* border: 150px solid rgb(2, 0, 45); */
	color: rgb(2, 0, 45);
	height: 100%;
	grid-template-columns: 20% 80%;
}

img {
	left: 50%;
	max-width: 30%;
	position: absolute;
	top: 50%;
}
