* {
	margin: 0;
	padding: 0;
}

.site-body {
	/* background: linear-gradient(rgb(37, 35, 35), rgb(0, 0, 0)); */
	/* height: auto; */
	display: grid;
	justify-content: center;
	grid-template-columns: 20% 70%;
	grid-template-rows: 1fr 5% 800px 1fr;
	grid-template-areas:
		'header header'
		'navbar .'
		'body body'
		'footer footer';
	/* grid-gap: 10px; */
}

.header {
	background: linear-gradient(rgb(24, 23, 23), rgb(28, 19, 53));
	/* grid-column-start: 1;
	grid-column-end: 3; */
	/* grid-column: 1/3; */
	grid-area: header;
	color: white;
	font-size: 20px;
}

h1 {
	padding: 25px;
}

.app-logo {
	height: 50%;
	grid-area: image;
}

.written {
	grid-area: paragraph;
	color: white;
}

.body {
	background-color: rgb(241, 241, 241);
	grid-area: body;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'paragraph .';
	background-image: url('./homepage.jpg');
	background-size: cover;
}

.navbar {
	grid-area: navbar;
	justify-self: center;
}

.footer {
	grid-area: footer;
	background-color: rgb(28, 19, 53);
	color: white;
}
