* {
	margin: 0;
	padding: 0;
}

body {
	display: block;
	background: linear-gradient(black, rgb(24, 23, 23), rgb(28, 19, 53), black);
	overflow: auto;
}

.site-body {
	background: linear-gradient(black, rgb(24, 23, 23), rgb(28, 19, 53), black);
	display: grid;
	justify-content: center;
	grid-template-columns: 0.5fr 4fr 3fr 0.5fr;
	grid-template-rows: 50px 9fr;
	grid-template-areas:
		'. header navbar .'
		'. body body .';
}

.header {
	grid-area: header;
	color: white;
	/* font-size: 20px; */
}

h1 {
	padding: 12px;
	font-size: 20px;
}

h1 a {
	color: white;
	text-decoration: none;
}

.body {
	background-color: rgb(241, 241, 241);
	grid-area: body;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'paragraph .';
	background-image: url('./homepage.jpg');
	background-size: cover;
	height: 80vh;
}

.footer {
	grid-area: footer;
	background-color: rgb(9, 8, 12);
	color: white;
}

li a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 414px) {
	.site-body {
		background: black;
		display: grid;
		justify-content: center;
		grid-template-columns: 1fr;
		/* grid-template-rows: 8vh 6vh 1fr; */
		grid-template-areas:
			'header'
			'navbar'
			'body';
	}

	.body {
		grid-template-columns: 8vh 1fr;
		margin: auto;
	}

	.header {
		text-align: center;
		margin: auto;
	}

	h1 {
		padding: 0px;
		margin: auto 0;
		font-size: 15px;
	}
}
