.contact-form {
	background-image: url('./contact-me.jpg');
	background-size: cover;
	color: white;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-form form {
	margin: 10px auto;
	height: auto;
	width: 350px;
	flex-direction: column;
	justify-content: center;
}

.contact-form p {
	margin: 10px auto;
	height: auto;
	width: 350px;
	line-height: 22px;
	font-size: 18px;
}

.contact-form input {
	margin: 10px auto;
	width: 292px;
	height: 28px;
	justify-self: center;
	font-size: 14px;
	padding: 0 5px;
}

textarea {
	width: 292px;
	height: 150px;
	font-size: 14px;
	padding: 6px;
}

.contact-form button {
	width: 95px;
	margin: 8px;
	background-color: white;
	border: none;
	height: 25px;
}

.contact-form a {
	color: white;
	text-decoration: underline;
}

@media screen and (max-width: 414px) {
	.contact-form form {
		height: auto;
		width: 300px;
	}

	.contact-form p {
		margin: 5px auto;
		padding: 5px;
		height: auto;
		width: 300px;
	}

	.contact-form input {
		margin: 10px 0;
		width: 280px;
		height: 20px;
		justify-self: center;
	}

	textarea {
		width: 280px;
		height: 150px;
		margin: auto;
	}
}
