.footer {
	display: flex;
	flex-direction: column-reverse;
}

.footer p {
	margin: auto;
	text-align: center;
	/* width: 100px; */
}

.footer ul {
	width: auto;
	margin: auto;
	padding: 0px;
}

.footer ul li {
	width: auto;
	padding: 10px;
	margin-top: 5px;
}
