.stripes {
	display: none;
}

.stripes div {
	width: 30px;
	height: 5px;
	background-color: white;
	margin: 5px 0;
}

.hamburger-nav {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 100px;
	z-index: 1;
}

.dropdown-content ul {
	column-count: 3;
	column-gap: 5px;
}

.dropdown-content li {
	padding: 10px;
	text-align: center;
}

.hamburger-nav:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 320px) {
	.stripes {
		grid-area: navbar;
		display: inline-block;
	}
}
