.navbar {
	grid-area: navbar;
	justify-self: right;
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
}

li {
	float: right;
	padding: 20px 10px 10px 10px;
	text-align: right;
}

@media screen and (max-width: 695px) {
	.navbar {
		margin: 0 auto;
		display: flex;
		flex-direction: row-reverse;
	}
	.navbar li {
		padding: 9px;
	}
	.middle-link {
		border-right: solid #1f174a 1px;
		border-left: solid #1f174a 1px;
	}
}
