.portfolio {
	background-image: url('./portfolio.jpg');
	background-size: cover;
	height: 650px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 'one two three';
	color: white;
}

.project-1 {
	grid-area: one;
}

.project-2 {
	grid-area: two;
}

.project-3 {
	grid-area: three;
}

.portfolio h3 {
	padding: 10px;
	margin: auto;
}

.portfolio p {
	padding: 3px;
}

img {
	width: 80%;
}

.portfolio a {
	color: white;
	text-decoration-line: underline;
}
