.social-links {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	bottom: 0;
}

.social-links p {
	margin: auto;
	text-align: center;
	/* width: 100px; */
}

.social-links ul {
	width: 80px;
	padding: 0 303px;
}

.social-links ul li {
	width: 80px;
	padding: 10px;
	margin-top: 0px;
	float: none;
	text-align: left;
	font-size: 16px;
	text-decoration: underline;
}

@media screen and (max-width: 414px) {
	.social-links ul {
		padding: 0 0 0 190px;
	}
	.social-links ul li {
		font-size: 12px;
		padding: 8px;
	}
}
