.social-links ul {
	width: 250px;
	padding: 0 247px;
	margin: 0 auto;
	float: left;
}

.social-links ul li {
	padding: 10px;
	margin-top: 0px;
	text-align: left;
	font-size: 20px;
}

.social-links i {
	margin-left: 0;
}

@media screen and (max-width: 695px) {
	.social-links ul {
		width: auto;
		padding: 0 0 0 99px;
	}
	.social-links ul li {
		font-size: 12px;
		padding: 8px;
	}
}
