.welcome {
	display: flex;
	flex-direction: column;
	margin: 250px auto;
}

.welcome p {
	margin-bottom: 10px;
}

.written {
	font-size: 22px;
	color: white;
	margin-left: 40px;
}

.written-body p {
	font-size: 22px;
	color: white;
	margin-left: 75px;
	text-align: left;
}

.email {
	color: white;
	text-align: center;
	margin-left: 135px;
}

.social {
	padding: 10px;
}

@media screen and (max-width: 695px) {
	.welcome {
		margin: 80px auto;
	}

	.written-body p {
		font-size: 14px;
		margin-left: 40px;
		margin-top: 5px;
		text-align: left;
	}

	.written {
		font-size: 14px;
		color: white;
		margin-left: 40px;
	}

	.social {
		padding: 7px;
	}
	.email {
		margin: 0 43px;
	}
}
